a:before {
                content:"";
                display:inline-block;
                width:32px;
}

p {
    text-align: center
}

#menuName {
    font-size: 20pt
}

h1 {
    font-family: cursive
}