a:before {
                content:"";
                display:inline-block;
                width:32px;
}

p {
    text-align: center
}

#menuName {
    font-size: 20pt
}

h1 {
    font-family: cursive
}

a {
    font-weight: normal
}

a:visited {
    color: red
}

a:hover {
    font-weight: bold
}

a:active {
    text-decoration: none
}

#carousel {
    text-align: center;
    font-size: 20pt
}